# Created by .ignore support plugin (hsz.mobi)
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*~
.fuse_hidden*
.directory
.nfs*
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.idea/

/.env
/settings/settings.go
